[credential "https://github.com"]
  helper = 
  helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper = 
  helper = !/usr/bin/gh auth git-credential
[user]
  name = Mykhailo Sichkaruk
  email = mykhailo.sichkaruk@gmail.com
  signingKey = 958B80A929ADC9E1
[core]
  editor = nvim
[commit]
  gpgsign = true
[init]
  defaultBranch = main
[diff]
  tool = vimdiff
[sequence]
  editor = nvim
[safe]
  directory = /
[http]
  postBuffer = 924288000
