[Desktop Entry]
Type=Application
Version=1.0
Name=electron
Comment=electronstartup script
Exec=/nix/store/pyadia45dblkbs2bzk6c2pknx31wplzl-electron-unwrapped-40.6.1/libexec/electron/electron
StartupNotify=false
Terminal=false