[Desktop Entry]
Type=Application
Version=1.0
Name=electron
Comment=electronstartup script
Exec=/nix/store/n5vys29aj0fjg25vpawgya0b44k6i5l1-electron-unwrapped-41.9.1/libexec/electron/electron
StartupNotify=false
Terminal=false